<h1>Showing details of cart</h1>
<br>

<table>
  <tr>
    <td><strong>Product name:</strong></td>
    <td><strong>Price:</strong></td>
    <td><strong>Description:</strong></td>
    <td><strong>#</strong> </td>
    <td><strong>Total:</strong> </td>
  </tr>

  <tr ng-repeat="product in cart">
    <td class="product-name">
      {{product.name}}
    </td>
    <td class="product-price">
      {{product.price | number: 2}}
    </td>
    <td class="product-description">
      {{product.description}}
    </td>

    <td class="product-buttons" cart-buttons="{{product.id}}">
    </td>

    <td class="product-name">
      {{product.total | number: 2}}
    </td>
    <td>
      <a class="btn btn-sucess" href="/carts/<%= @cart.id %>/remove/{{product.id}}">Remover produto</a>
    </td>
  </tr>


  <tr><td></td><td><td></td><td></td><td><hr></td></tr>
  <tr><td></td><td></td><td></td><td></td><td>{{total | number: 2}}</td>
  </tr>
</table>
<br>




<%= link_to 'Buy this Cart', buy_cart_path(session[:cart_id]), data:{  :confirm => "Confirm?" } %><br>
<%= link_to 'Add Products', products_path %><br>